@media only screen and (max-width: 668px) {
  body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
  }
  #page {
    width: 320px;
    height: auto;
    margin: 0 auto;
  }
  header {
    background: black;
    color: #fff;
  }
  header .logo {
    color: #d41378;
    font-weight: 900;
    float: left;
  }
  header .motto {
    display: none;
  }
  header .hero {
    background: url(../img/herobild_svt.png);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #mobile_nav {
    float: right;
  }
  .navbar {
    background: #d41378;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    display: none;
  }
  .navbar li {
    display: inline-block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a:hover {
    color: black;
  }
  .submenu {
    display: none;
  }
  .main {
    width: 100%;
    height: auto;
    background: #fff;
    display: inline-block;
  }
  .block {
    height: 165px;
    width: 140px;
    margin: 5px;
    /*display: inline-block;*/
    float: left;
  }
  #roseBlock1 {
    background: url(../img/Red_rose.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  #roseBlock2 {
    background: url(../img/yellow_rose.png);
    background-repeat: no-repeat;
    background-position: center;
    clear: right;
  }
  #roseBlock3 {
    background: url(../img/pink_rose.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  #roseBlock4 {
    background: url(../img/white_rose.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .roseText .roseTitle {
    display: block;
    background: #d41378;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
  }
  .roseText p {
    background: #d41378;
    position: relative;
    opacity: 0.8;
    color: #fff;
    margin: 0;
    text-align: center;
    display: block;
    float: left;
  }
  .slideInfo {
    display: none;
    z-index: 100;
  }
  article img {
    float: right;
    height: 150px;
    width: 150px;
  }
  aside {
    display: none;
  }
  footer {
    background: black;
    color: #fff;
  }
  footer a {
    color: #d41378;
  }
}

@media only screen and (min-width: 669px) and (max-width: 1024px) {
  body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  #page {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #fff;
  }
  header {
    background: black;
    color: #fff;
    position: fixed;
  }
  header .logo {
    color: #d41378;
    font-weight: 900;
    display: inline-block;
    font-size: 2em;
  }
  header a {
    text-decoration: none;
  }
  header .motto {
    float: right;
    margin: 0.8em;
    overflow: auto;
  }
  header .hero {
    background: url(../img/herobild_svt.png);
    height: 300px;
    width: 100%;
    background-size: cover;
  }
  #mobile_nav {
    display: none;
  }
  .navbar {
    background: #d41378;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    position: relative;
    font-size: 0.8em;
  }
  .navbar li {
    display: inline-block;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    width: 125px;
    position: relative;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .navbar a:hover {
    color: black;
  }
  .navbar li > ul {
    display: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
  }
  .submenu {
    display: none;
    position: absolute;
  }
  .submenu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .submenu a:hover {
    color: black;
  }
  .main {
    width: 65%;
    height: auto;
    background: #fff;
    display: inline-block;
    padding-right: 20px;
  }
  article img {
    float: right;
    height: 12em;
    width: 12em;
  }
  .block {
    height: 230px;
    width: 220px;
    margin: 5px;
    float: left;
  }
  #roseBlock1 {
    background: url(../img/Red_rose.png);
    background-size: cover;
  }
  #roseBlock2 {
    background: url(../img/yellow_rose.png);
    background-size: cover;
    clear: right;
  }
  #roseBlock3 {
    background: url(../img/pink_rose.png);
    background-size: cover;
  }
  #roseBlock4 {
    background: url(../img/white_rose.png);
    background-size: cover;
  }
  .roseText .roseTitle {
    display: block;
    background: #d41378;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
  }
  .roseText p {
    background: #d41378;
    opacity: 0.8;
    color: #fff;
    margin: 0;
    text-align: center;
  }
  .slideInfo {
    display: none;
    z-index: 1;
  }
  .map {
    width: 30%;
    background: #fff;
    float: right;
    height: 960px;
    padding-left: 10px;
  }
  .map a {
    color: #d41378;
  }
  footer {
    background: black;
    color: #fff;
  }
  footer a {
    color: #d41378;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  #page {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    display: block;
  }
  header {
    background: black;
    color: #fff;
  }
  header .logo {
    color: #d41378;
    font-weight: 900;
    display: inline-block;
    font-size: 2em;
  }
  header a {
    text-decoration: none;
  }
  header .motto {
    float: right;
    margin: 0.8em;
    overflow: auto;
  }
  header .hero {
    background: url(../img/herobild_svt.png);
    height: 300px;
    width: 100%;
    background-size: cover;
  }
  #mobile_nav {
    display: none;
  }
  .navbar {
    background: #d41378;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    font-size: 0.8em;
  }
  .navbar li {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a:hover {
    color: black;
  }
  .navbar li > ul {
    display: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
  }
  .submenu {
    display: none;
    position: absolute;
  }
  .submenu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .submenu a:hover {
    color: black;
  }
  .main {
    width: 65%;
    background: #fff;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .block {
    height: 250px;
    width: 240px;
    margin: 10px;
    display: inline-block;
  }
  #roseBlock1 {
    background: url(../img/Red_rose.png);
    background-size: cover;
  }
  #roseBlock2 {
    background: url(../img/yellow_rose.png);
    background-size: cover;
    clear: right;
  }
  #roseBlock3 {
    background: url(../img/pink_rose.png);
    background-size: cover;
  }
  #roseBlock4 {
    background: url(../img/white_rose.png);
    background-size: cover;
  }
  .roseText .roseTitle {
    display: block;
    background: #d41378;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
  }
  .roseText p {
    background: #d41378;
    opacity: 0.8;
    color: #fff;
    margin: 0;
    text-align: center;
    display: block;
    float: left;
  }
  .slideInfo {
    display: none;
    z-index: 1;
  }
  article img {
    float: right;
    height: 150px;
    width: 150px;
  }
  .map {
    width: 30%;
    background: #fff;
    float: right;
    display: inline-block;
    padding-left: 10px;
    margin-left: -10px;
  }
  .map a {
    color: #d41378;
  }
  .map ul {
    list-style-type: none;
    padding: 0;
  }
  footer {
    background: black;
    color: #fff;
  }
  footer a {
    color: #d41378;
  }
}
