
body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#page {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #fff;
}
//Header
header {
	background: black;
	color: #fff;
	position: fixed;	

	.logo {
		color: $primaryColor;
		font-weight: 900;
		display: inline-block;
		font-size: 2em;		
	}

	a {
		text-decoration: none;
		}

	.motto {
		float: right;
		margin: 0.8em;
		overflow: auto;
	}

	.hero {
		background: url(../img/herobild_svt.png);
		height: 300px;
		width: 100%;
		background-size: cover;

	}
}

#mobile_nav {
	display: none;
}

//Navigering
.nav {
	background: $primaryColor;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	position: fixed;
	font-size: 0.8em;

	li {
	display: inline-block;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    width: 125px;
    position: relative;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	a:hover {
			color: black;
		}
	li > ul {
		display: none;
		position: relative;
		list-style-type: none;
		padding: 0;
		margin: 5px 0;
	}
}

.submenu {
	display: none;
}

//Section

.main {
	width: 65%;
	height: auto;
	background: #fff;
	display: inline-block;
	padding-right: 20px;
}

article img {
	float: right;
	height: 12em;
	width: 12em;
}

.block {
	height: 230px;
	width: 220px;
	margin: 5px;
	//display: inline-block;
	float: left;

	
}

#roseBlock1 {
	background: url(../img/Red_rose.png);
	background-size: cover;
}

#roseBlock2 {
	background: url(../img/yellow_rose.png);
	background-size: cover;
	clear: right;
}

#roseBlock3 {
	background: url(../img/pink_rose.png);
	background-size: cover;
}

#roseBlock4 {
	background: url(../img/white_rose.png);
	background-size: cover;
}

.roseText {

	.roseTitle {
		//border: 1px solid black;
		display: block;
		background: $primaryColor;
		opacity: 0.8;
		color: #fff;
		text-align: center;
		font-size: 1.6em;
	}

	p {
		background: $primaryColor;
		opacity: 0.8;
		color: #fff;
		margin: 0;
		text-align: center;
	}
}

.slideInfo {
	display: none;
}

//Aside

.map {
	width: 30%;
	background: #fff;
	float: right;
	//display: inline-block;
	height: 960px;
	padding-left: 10px;
	//margin-left: -10px;

	a {
		color: $primaryColor;
	}
}

//Footer

footer {
	background: black;
	color: #fff;

	a {
		color: $primaryColor;
	}
}